* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
    list-style: none;
}
.main{
    background-color: #eee;
    border-radius: 4px;
    width: 80vw;
    margin: auto;
    min-height: 50vh;
    height: fit-content;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
